@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Morpheus";
    src: url('../fonts/Morpheus.ttf') format('truetype');
    src: url('../fonts/Morpheus.eot');
    src: url('../fonts/Morpheus.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Morpheus.woff2') format('woff2'),
        url('../fonts/Morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BlizQuadrata Web";
    src: url('../fonts/BlizQuadrataWeb.ttf') format('truetype');
    src: url('../fonts/BlizQuadrataWeb.eot');
    src: url('../fonts/BlizQuadrataWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlizQuadrataWeb.woff2') format('woff2'),
        url('../fonts/BlizQuadrataWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    border-left: 1px solid #000000;
    background-color: #151515;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
}

button {
    user-select: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

img {
    pointer-events: none;
}

html {
    background-color: #242426;
    scroll-behavior: smooth;
    height: 100%;
}

section {
    display: flex;
    position: relative;
    z-index: 0;
    height: 600px;
    width: 100%;
    z-index: 0;
}

hr {
    position: relative;
    z-index: 500;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    overflow: hidden;
    transition-duration: 300ms; 
    position: fixed;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    top: 0;
    z-index: 100;
    user-select: none;
    text-shadow: 0px 0px 9px #9dbfffde;
}
  
#navbar #navBackground {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    transition-duration: 200ms;
    cursor: pointer;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition-duration: 300ms;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 250px;
    overflow: hidden;
}

#navbar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: visible;
    float: right;
    margin-right: 250px;
    transition-duration: 200ms;
}

#navbar #navbar-right a:hover {
    transform: scale(1.14);
    text-shadow: 0px 1px 8px #ffffff80;
}

#navbar #navbar-right a:active {
    color: #fff;
}

#mobilenav {
    visibility: hidden;
    max-height: 0px;
    max-width: 0px;
    margin: 0;
    padding: 0;
}

#navbar-right-mobile {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

#navbar-right-mobile a:hover {
    transform: scale(1.14);
    text-shadow: 0px 1px 8px #ffffff80;
}

#navbar-right-mobile a:active {
    color: #fff;
}

#navmenubutton {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

.headerblock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    min-width: 100%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
}

.headerblocksmol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    min-width: 100%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
}

.headerblock #headerbackground {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.headerblocksmol #headerbackground {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.headerblock .headertext {
    margin-top: 180px;
    position: absolute;
    color: #fff;
    font-size: 70px;
    user-select: none;
}

.headerblock .headertext p {
    font-family: Blizquadrata Web;
    letter-spacing: 3px;
    font-weight: 100;
    padding: 20px;
}

.headerblocksmol .headertext {
    margin-top: 60px;
    position: absolute;
    color: #fff;
    font-size: 70px;
    user-select: none;
}

.headerblocksmol .headertext p {
    font-family: Blizquadrata Web;
    letter-spacing: 3px;
    font-weight: 100;
    padding: 20px;
}

.headerDivider {
    display: block;
    border: 0px;
    height: 115px;
    background-image:url('../img/elements/divider2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    margin: -55px;
}

.sectionDivider {
    display: block;
    border: 0px;
    height: 57px;
    background-image: url('../img/elements/divider1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    margin: -24px;
}

#artworkSection {
    justify-content: center;
    align-items: center;
}

#commissionSection {
    justify-content: center;
    align-items: center;
}

.blurBackgroundSection {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    z-index: 0;
}

@keyframes changeArtworkSectionBg {
    0%,20% {background-image: url("../img/section/artwork1.jpg");}
    25%,45% {background-image: url("../img/section/artwork2.jpg");}
    50%,70% {background-image: url("../img/section/artwork3.jpg");}
    75%,95% {background-image: url("../img/section/artwork4.jpg");}
    100% {background-image: url("../img/section/artwork1.jpg");}
 }

#artworkSection .boxcontent {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 40%;
    min-width: 500px;
    z-index: 1;
}

#commissionSection .boxcontent {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 40%;
    min-width: 500px;
    z-index: 1;
}

.sectionDescription {
    width: 40%;
    height: auto;
    padding: 15px;
    margin: 10px 10px 5% 10px;
    color: #f0f0f0;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    text-shadow: 0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}

.sectionDescription .title {
    font-family: Blizquadrata Web;
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.buttonwowlike {
    font-family: BlizQuadrata Web;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
    width: auto;
    height: 40px;
    border: 3px groove #696969;
    border-radius: 4px;
    font-size: 23px;
    color: #dfbd42;
    background: linear-gradient(0deg, #390308 0%, #560107 28%, #640404 50%, #560107 72%, #390308 100%); 
    margin: 3px 0px 3px 0px;
    outline:none;
}

.buttonwowlike:hover {
    border: 3px groove #999999;
    background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
    color: #fff;
}

.buttonwowlike:active {
    transform: translateY(1px);
    border: 3px groove #575757;
    background: linear-gradient(0deg, #300408 0%, #490307 28%, #520606 50%, #490307 72%, #300408 100%);
}

.buttonwowblue {
    text-transform: uppercase;
    font-family: BlizQuadrata Web;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
    width: auto;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #1a2e63;
    box-shadow: 0px 5px 10px 0px #00000085;
    font-size: 23px;
    color: #f1c421;
    background: radial-gradient(circle, #0e5394 0%, #0f367e 100%);
    margin: 3px 0px 3px 0px;
    outline:none;
    transition-duration: 0s;
    cursor: pointer;
}

.buttonwowblue:hover {
    box-shadow: 0px 0px 20px 0px #62a1ffc7;
    border: 1px solid #f0f0f0;
    background: radial-gradient(circle, #116abd 0%, #12439e 100%);
    color: #fff;
    transition-duration: 200ms;
}

.buttonwowblue:active {
    transform: translateY(1px) scale(0.98);
    border: 1px solid #f0f0f0;
    background: radial-gradient(circle, #1060ac 0%, #113b8a 100%);
    color: #fff;
    transition-duration: 0s;
}

.gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 20px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
}

.imageFrame {
    display: flex;
    position: relative;
    height: 220px;
    width: 350px;
    margin: 10px;
    transition-duration: 150ms;
    box-shadow: 0px 0px 10px 0px #000000;
    border: 1px solid #e3e3e3;
    outline: 1px solid transparent;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    overflow: hidden;
}

.imageFrame-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageFrame:hover {
    box-shadow: 0px 0px 15px 0px #3d8bff;
    transform: scale(1.05);
}

.imageFrame:hover .imageFrame-bg {
    filter: brightness(120%);
}

.imageFrame:hover .commissionIndicator {
    opacity: 1;
}

.fadeImage-enter-active, .fadeImage-leave-active {
    transition: opacity 160ms;
}

.fadeImage-enter, .fadeImage-leave-to {
    opacity: 0;
}

.showImage {
    transition: 280ms;
}

.showImage .bigImageFrame {
    animation: grow 280ms;
}

.showImage .bigImageSlides {
    animation: grow 280ms;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.bigImageOverlay {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 200;
}

.bigImageOverlay .bigImageOverlay-bg {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000bf;
    z-index: 1;
}

.bigImageOverlay .bigImageFrame {
    position: relative;
    width: auto;
    height: 90%;
    border: 1px solid #fff;
    box-shadow: 0px 0px 100px 0px #0e5394;
    z-index: 10;
    overflow: hidden;
    user-select: none;
}

.bigImageOverlay .bigImageFrame img {
    height: 100%;
    width: auto;
    pointer-events: all;
}

.imageFrame .artworkName {
    visibility: hidden;
    position: fixed;
    padding: 8px 0px 8px 0px;
    word-spacing: 5px;
    font-family: Morpheus;
    font-size: 21px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #0000009f;
    bottom: 0;
    transition-duration: 200ms;
    transform: translateY(50px);
}

.imageFrame:hover .artworkName {
    visibility: visible;
    transform: translateY(0px);
}

.commissionredirection {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
}

.commissionredirection p {
    text-align: center;
    font-size: 22px;
    height: auto;
    width: 33%;
    color: #fff;
    margin-bottom: 50px;
}

.commissionIndicator {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 8px 0px 0px 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url('../img/elements/commissionIcon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
    transition-duration: 150ms;
}

.commissionIndicator:hover {
    animation: bouncing 1500ms infinite ease-in-out;
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.albumNumberIndicator {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #eee;
    width: 26px;
    height: 26px;
    background-color: #696969af;
    margin: 5px;
    border-radius: 6px;
    right: 0;
    transition-duration: 150ms;
}

.imageFrame:hover .albumNumberIndicator {
    width: 36px;
    height: 36px;
    font-size: 24px;
}

.bigImageSlides {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    z-index: 10;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.bigImageSlides::-webkit-scrollbar {
    height: 0px;
    visibility: hidden;
}

.bigImageSlides::-webkit-scrollbar-thumb {
    background: transparent;
    visibility: hidden;
}

.bigImageSlides::-webkit-scrollbar-track {
    background: transparent;
    visibility: hidden;
}

.bigImageSlides > div {
    position: relative;
    width: auto;
    height: 90%;
    border: 1px solid #fff;
    box-shadow: 0px 0px 100px 0px #0e5394;
    z-index: 10;
    overflow: hidden;
    user-select: none;
    scroll-snap-align: center;
    flex-shrink: 0;
    margin-right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigImageSlides > div:first-child {
    margin-left: 100%;
}

.bigImageSlides div img {
    height: 100%;
    width: auto;
    pointer-events: all;  
}

.artworkTopText {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #f3f3f3;
    font-weight: 300;
    padding: 30px 0 30px 0;
    overflow: hidden;
}

.artworkTopText span {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    padding: 25px;
}

.artworkTopText span .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.artworkTopText span .flexbox p {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.textslide-enter-active {
    animation: slidedown 2s ease-in-out;
}

.textslide-leave-active {
    animation: slidedown 2s ease-in-out reverse;
}

@keyframes slidedown {
    0% {
        height: 0px;
        padding: 0;
        opacity: 0;
        transform: translateY(-100px);
    }
    45%{
        opacity: 0;
    }
    100% {
        height: 500px;
        padding: 25px;
        opacity: 1;
        transform: translateY(0px);
    }
}

.artworkTopText .fakeCommissionImage {
    display: flex;
    position: relative;
    height: 220px;
    width: 350px;
    min-height: 220px;
    min-width: 350px;
    margin: 20px 0 30px 0;
    transition-duration: 150ms;
    box-shadow: 0px 0px 10px 0px #000000;
    border: 1px solid #e3e3e3;
    outline: 1px solid transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    overflow: hidden;
}

.artworkTopText .fakeCommissionImage .commissionIndicator {
    cursor: auto;
    opacity: 1;
    animation: showBounce 3000ms infinite ease-in-out;
    box-shadow: 0px 0px 3px 3px red;
}

@keyframes showBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.8) translateX(12px) translateY(12px);
    }
    100% {
        transform: scale(1);
    }
}

.imageSlidesSelector {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    max-width: 90%;
    height: auto;
    z-index: 60;
    bottom: 30px;
    overflow: visible;
    opacity: 0.4;
    transition-delay: 1600ms;
    transition-duration: 800ms; 
    user-select: none;
}

.imageSlidesSelector:hover {
    opacity: 1;
    transition-delay: 0s;
}

.imageSlidesSelector a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
    margin: 12px;
    border: 1px solid #fff;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    user-select: none;
    transition-duration: 180ms;
}

.imageSlidesSelector a:hover, .imageSlidesSelector a:active  {
    transform: scale(1.15);
}

.commissionHeader {
    background-image: url('../img/header/header-bg-commission.jpg');
    background-position: bottom;
}

.headerbackgroundoverlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.commissionHeadTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 75px 0 75px 0;
    text-align: center;
    font-size: 38px;
    color: #fff;
    overflow: hidden;
    /*user-select: none;*/
}

.commissionHeadTitle .title {
    font-family: Blizquadrata Web;
    text-shadow: 0px 0px 6px #000, 0px 0px 12px #00000080;
}

.commissionHeadTitle .subtitle {
    font-style: italic;
    font-size: 26px;
    font-weight: 100;
}

#commissionconditions {
    height: auto;
    overflow: hidden;
}

#commissionconditions .backgroundoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 10%, #00000072 25%, #00000072 75%, transparent 90%);
    z-index: -1;
}

#commissionconditions .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/section/commissionpage/1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}

#commissionconditions .title {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#commissionconditions .title p {
    font-family: Blizquadrata Web;
    font-size: 32px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

#commissionconditions .flexbox {
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;
}

#commissionconditions .flexbox .text {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}

#commissionconditions .flexbox .text p {
    padding-bottom: 3.5%;
    overflow: visible;
}

#commissionconditions .flexbox .text p a {
    color: #4f96ff;
    font-weight: 400;
    text-decoration: none;
}

#commissionconditions .flexbox .text p a:hover {
    color: #fff;
    text-shadow: 0px 0px 12px #3273ff;
}

#commissionconditions .flexbox .pic {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-image: url('../img/elements/smallimg/conditions.png');
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    transition-duration: 400ms;
    transform: scale(1.1);
}

#commissionconditions .flexbox .pic:hover {
    transform: scale(1.15);
}

#commissionwhatineed {
    height: auto;
    overflow: hidden;
}

#commissionwhatineed .backgroundoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 10%, #00000072 25%, #00000072 75%, transparent 90%);
    z-index: -1;
}

#commissionwhatineed .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/section/commissionpage/2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}

#commissionwhatineed .title {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#commissionwhatineed .title p {
    font-family: Blizquadrata Web;
    font-size: 32px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

#commissionwhatineed .flexbox {
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;
}

#commissionwhatineed .flexbox .text {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}

#commissionwhatineed .flexbox .text p {
    padding-bottom: 20px;
    overflow: visible;
}

#commissionwhatineed .flexbox .text p a {
    color: #4f96ff;
    font-weight: 400;
    text-decoration: none;
}

#commissionwhatineed .flexbox .text p a:hover {
    color: #fff;
    text-shadow: 0px 0px 12px #3273ff;
}

@media (orientation: portrait) {
    html {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #navbar {
        display: flex;
        align-items: center;
        margin: 0;
        overflow: hidden;
        transition-duration: 300ms; 
        position: fixed;
        width: 100%;
        height: 180px;
        box-sizing: border-box;
        top: 0;
        z-index: 100;
        user-select: none;
        text-shadow: 0px 0px 9px #9dbfffde;
    }

    #navbar a {
        float: left;
        color: #fff;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 50px;
        line-height: 25px;
        border-radius: 4px;
        transition-duration: 200ms;
    }
    
    #navbar #logo {
        font-size: 55px;
        font-weight: bold;
        transition-duration: 300ms;
        margin-left: 120px;
        overflow: hidden;
    }

    #navbar-right {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0;
        padding: 0;
    }

    #mobilenav {
        visibility: visible;
        width: auto;
        height: auto;
    }

    #navbar-right-mobile {
        visibility: visible;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 70%;
        height: 100%;
        background-color: #000000e5;
        transition-duration: 200ms;
        z-index: 50;
        right: 0;
    }

    #navbar-right-mobile a {
        float: left;
        color: #fff;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 68px;
        line-height: 25px;
        border-radius: 4px;
        transition-duration: 200ms;
        margin: 80px;
        overflow: hidden;
        user-select: none;
    }

    #navbar-right-mobile a:hover {
        transform: scale(1.14);
        text-shadow: 0px 1px 8px #ffffff80;
    }
    
    #navbar-right-mobile a:active {
        color: #fff;
    }

    #mobilenav .menudisabled span {
        background-color: #fff;
    }

    #mobilenav .menuactived span:first-child {
        background-color: #fff;
        transform: rotate(-45deg);
    }

    #mobilenav .menuactived span {
        background-color: #fff;
        margin-top: -16px;
        transform: rotate(45deg);
    }

    #mobilenav .menuactived span:last-child {
        opacity: 0;
    }

    #closemenuarea {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 45;
    }

    .fade-enter-active {
        animation: mobile-menu-anim 400ms ease-in-out;
    }

    .fade-leave-active {
        animation: mobile-menu-anim 400ms ease-in-out reverse;
    }

    @keyframes mobile-menu-anim {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    #navmenubutton {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: visible;
        width: 120px;
        height: 120px;
        right: 0;
        margin-top: 50px;
        margin-right: 70px;
        transition-duration: 250ms;
        z-index: 100;
        background-color: transparent;
        pointer-events: all;
        overflow: visible;
    }

    #navmenubutton span {
        background-color: #fff;
        border-radius: 5px;
        width: 90px;
        height: 10px;
        margin: 8px 0px 8px 0px;
        transition-duration: 150ms;
    }

    .headerblocksmol {
        height: 500px;
    }

    .headerblock .headertext {
        margin-top: 250px;
        font-size: 96px;
    }

    .headerblocksmol .headertext {
        margin-top: 180px;
        font-size: 96px;
    }

    section {
        height: 800px;
    }

    #artworkSection .boxcontent {
        width: 60%;
    }

    #commissionSection .boxcontent {
        width: 60%;
    }

    .sectionDescription {
        width: 90%;
        margin: 10px 10px 12% 10px;
        font-size: 34px;
    }
    
    .sectionDescription .title {
        font-size: 82px;
        margin-bottom: 20px;
    }

    .buttonwowlike {
        transform: scale(1.8);
    }

    .buttonwowlike:active {
        transform: translateY(1px) scale(1.764);
    }

    .buttonwowblue {
        transform: scale(1.8);
    }
    
    .buttonwowblue:active {
        transform: translateY(1px) scale(1.764);
    }

    .imageFrame {
        height: 176px;
        width: 280px;
    }

    .bigImageOverlay .bigImageFrame {
        width: auto;
        max-width: 90%;
        height: auto;
        max-height: 90%;
    }
    
    .bigImageOverlay .bigImageFrame img {
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        pointer-events: all;
    }

    .bigImageSlides > div {
        width: auto;
        max-width: 90%;
        height: auto !important;
        max-height: 90%;
    }
    
    .bigImageSlides > div img {
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        pointer-events: all;
    }

    .commissionredirection p {
        font-size: 20px;
        width: 80%;
    }

    .artworkTopText {
        font-size: 32px;
        font-weight: 300;
    }

    .artworkTopText .fakeCommissionImage {
        margin: 30px 0 45px 0;
    }

    .artworkTopText span {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 1000px;
        padding: 25px;
        margin-bottom: 30px;
    }

    @keyframes slidedown {
        0% {
            padding: 0;
            margin-bottom: 0;
            height: 0;
            opacity: 0;
            transform: translateY(-600px);
        }
        100% {
            padding: 25px;
            margin-bottom: 30px;
            height: 1000px;
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .albumNumberIndicator {
        width: 32px;
        height: 32px;
        font-size: 22px;
    }
    
    .imageFrame:hover .albumNumberIndicator {
        width: 42px;
        height: 42px;
        font-size: 28px;
    }

    .imageSlidesSelector {
        opacity: 1;
        user-select: none;
    }

    .imageSlidesSelector a {
        width: 100px;
        height: 100px;
        font-size: 46px;
        text-shadow: 0px 0px 12px #000, 0px 0px 12px #000, 0px 0px 12px #000;
        margin: 20px;
        user-select: none;
    }

    .commissionHeader {
        background-image: url('../img/header/header-bg-commission-mobile.jpg');
        background-position: bottom;
    }
    

    .commissionHeadTitle {
        font-size: 50px;
    }
    
    .commissionHeadTitle .subtitle {
        font-size: 34px;
    }

    #commissionconditions .backgroundoverlay {
        background: linear-gradient(90deg, transparent 0%, transparent 100%);
    }
    
    #commissionconditions .title p {
        font-size: 48px;
    }
    
    #commissionconditions .flexbox {
        margin-top: 80px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    #commissionconditions .flexbox .text {
        width: auto;
        max-width: 65%;
        height: auto;
        font-size: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0000007f;
        border-radius: 12px;
    }
    
    #commissionconditions .flexbox .text p {
        padding-bottom: 36px;
    }

    #commissionconditions .flexbox .text p:last-child {
        padding-bottom: 0px;
    }

    #commissionconditions .flexbox .pic {
        width: 450px;
        height: 450px;
        user-select: none;
    }

    #commissionwhatineed .backgroundoverlay {
        background: linear-gradient(90deg, transparent 0%, transparent 100%);
    }
    
    #commissionwhatineed .title p {
        font-size: 48px;
    }
    
    #commissionwhatineed .flexbox {
        margin-top: 80px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    #commissionwhatineed .flexbox .text {
        width: auto;
        max-width: 65%;
        height: auto;
        font-size: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0000007f;
        border-radius: 12px;
    }
    
    #commissionwhatineed .flexbox .text p {
        padding-bottom: 36px;
    }

    #commissionwhatineed .flexbox .text p:last-child {
        padding-bottom: 0px;
    }
}