@font-face {
    font-family: "Morpheus";
    src: url('../fonts/Morpheus.ttf') format('ttf');
    src: url('../fonts/Morpheus.eot');
    src: url('../fonts/Morpheus.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Morpheus.woff2') format('woff2'),
        url('../fonts/Morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BlizQuadrata Web";
    src: url('../fonts/BlizQuadrataWeb.ttf') format('ttf');
    src: url('../fonts/BlizQuadrataWeb.eot');
    src: url('../fonts/BlizQuadrataWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlizQuadrataWeb.woff2') format('woff2'),
        url('../fonts/BlizQuadrataWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    border-left: 1px solid #000000;
    background-color: #151515;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
}

img {
    pointer-events: none;
}

html {
    background-color: #242426;
    scroll-behavior: smooth;
}

section {
    display: flex;
    position: relative;
    z-index: 0;
    height: 600px;
    width: 100%;
    z-index: 0;
}

hr {
    position: relative;
    z-index: 1000;
}

#navbar {
    margin: 0;
    overflow: hidden;
    padding: 50px;
    transition-duration: 300ms; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    user-select: none;
    text-shadow: 0px 0px 9px #9dbfffde;
}
  
#navbar #navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    transition-duration: 200ms;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition-duration: 300ms;
    margin-left: 15%;
}

#navbar-right {
    overflow: hidden;
    float: right;
    margin-right: 15%;
    transition-duration: 200ms;
}

#navbar #navbar-right a:hover {
    transform: scale(1.14);
    text-shadow: 0px 1px 8px #ffffff80;
}

#navbar #navbar-right a:active {
    color: #fff;
}

.headerblock {
    height: 700px;
    min-width: 100%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
}

.background {
    position: relative;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.headerDivider {
    display: block;
    border: 0px;
    height: 115px;
    background-image:url('../img/divider2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    margin: -55px;
}

.sectionDivider {
    display: block;
    border: 0px;
    height: 57px;
    background-image: url('../img/divider1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    margin: -24px;
}

#artworkSection {
    justify-content: center;
    align-items: center;
}

.blurBackgroundSection {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    z-index: 0;
}

@keyframes changeArtworkSectionBg {
    0%,20% {background-image: url("../img/section/1.jpg");}
    25%,45% {background-image: url("../img/section/2.jpg");}
    50%,70% {background-image: url("../img/section/3.jpg");}
    75%,95% {background-image: url("../img/section/4.jpg");}
    100% {background-image: url("../img/section/1.jpg");}
 }

#artworkSection .boxcontent {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 40%;
    min-width: 500px;
    z-index: 1;
}

#artworkSection .boxcontent p {
    padding: 15px;
    margin: 10px;
    color: #f0f0f0;
    text-shadow: 0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}

.buttonwowlike {
    font-family: BlizQuadrata Web;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
    width: auto;
    height: 40px;
    border: 3px groove #696969;
    border-radius: 4px;
    font-size: 23px;
    color: #dfbd42;
    background: linear-gradient(0deg, #390308 0%, #560107 28%, #640404 50%, #560107 72%, #390308 100%); 
    margin: 3px 0px 3px 0px;
    outline:none;
}

.buttonwowlike:hover {
    border: 3px groove #999999;
    background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
    color: #fff;
}

.buttonwowlike:active {
    transform: translateY(1px);
    border: 3px groove #575757;
    background: linear-gradient(0deg, #300408 0%, #490307 28%, #520606 50%, #490307 72%, #300408 100%);
}

.buttonwowblue {
    text-transform: uppercase;
    font-family: BlizQuadrata Web;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
    width: auto;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #1a2e63;
    box-shadow: 0px 5px 10px 0px #00000085;
    font-size: 23px;
    color: #f1c421;
    background: radial-gradient(circle, #0e5394 0%, #0f367e 100%);
    margin: 3px 0px 3px 0px;
    outline:none;
    transition-duration: 0s;
}

.buttonwowblue:hover {
    box-shadow: 0px 0px 20px 0px #62a1ffc7;
    border: 1px solid #f0f0f0;
    background: radial-gradient(circle, #116abd 0%, #12439e 100%);
    color: #fff;
    transition-duration: 200ms;
}

.buttonwowblue:active {
    transform: translateY(1px) scale(0.98);
    border: 1px solid #f0f0f0;
    background: radial-gradient(circle, #1060ac 0%, #113b8a 100%);
    color: #fff;
    transition-duration: 0s;
}

.gallery {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
    width: 100%;
    height: auto;
}

.imageFrame {
    display: flex;
    position: relative;
    height: 220px;
    width: 350px;
    margin: 50px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 250ms;
    border: 1px solid #fff;
    outline: 1px solid transparent;
}

.imageFrame:hover {
    box-shadow: 0px 0px 20px 0px #62a1ffc7;
    transform: scale(1.15);
}