<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flotib's Artwork</title>
    <link rel="icon" href="../img/pageicon.png" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <div id="navbar">
            <div id="navBackground"></div>
            <a href="../index.html" id="logo">Flotib</a>
            <div id="navbar-right">
                <a href="../index.html">Home</a>
                <a href="../artwork/index.html">Artwork</a>
            </div>
        </div>
        <div id="mobilenav">
            <div id="navmenubutton" @click="navOpen=!navOpen" :class="navOpen ? 'menuactived' : 'menudisabled'">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div v-if="navOpen" id="closemenuarea" @click="navOpen=false"></div>
            <transition name="fade">
                <div id="navbar-right-mobile" v-if="navOpen">
                    <a href="../index.html">Home</a>
                    <a href="../artwork/index.html">Artwork</a>
                </div>
            </transition>
        </div>

        <header>
            <div class="headerblock">
                <div id="headerbackground" class="commissionHeader">
                    <div class="headerbackgroundoverlay" style="background: linear-gradient(0deg, #25ffab4b 0%, #00000000 25%)"></div>
                </div>
                <span class="headertext" style="text-shadow: 0px 0px 6px #000, 0px 0px 12px #00000080;">
                    <p>Commission</p>
                </span>
            </div>
        </header>

        <hr class="headerDivider">

        <div style="height: 1500px"></div>

    </div>

    <script src="../scripts/script.js"></script>
</body>

</html>