<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flotib's Artwork</title>
    <link rel="icon" href="../img/pageicon.png" />
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <div id="navbar">
            <div id="navBackground"></div>
            <a href="../index.html" id="logo">Flotib</a>
            <div id="navbar-right">
                <a href="../index.html">Home</a>
                <a href="../artwork/index.html">Artwork</a>
            </div>
        </div>
        <div id="mobilenav">
            <div id="navmenubutton" @click="navOpen=!navOpen" :class="navOpen ? 'menuactived' : 'menudisabled'">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div v-if="navOpen" id="closemenuarea" @click="navOpen=false"></div>
            <transition name="fade">
                <div id="navbar-right-mobile" v-if="navOpen">
                    <a href="../index.html">Home</a>
                    <a href="../artwork/index.html">Artwork</a>
                </div>
            </transition>
        </div>

        <header>
            <div class="headerblock">
                <div id="headerbackground" class="commissionHeader">
                    <div class="headerbackgroundoverlay"
                        style="background: linear-gradient(0deg, #259dff4b 0%, #00000000 25%)"></div>
                </div>
                <span class="headertext" style="text-shadow: 0px 0px 6px #000, 0px 0px 12px #00000080;">
                    <p>Commission</p>
                </span>
            </div>
        </header>

        <hr class="headerDivider" style="margin-bottom: 40px;">

        <span class="commissionHeadTitle">
            <p class="title">How to commission?</p>
            <p class="subtitle">From the very beginning to the end</p>
        </span>

        <hr class="sectionDivider" style="margin-top: 120px;">

        <section id="commissionconditions">
            <div class="backgroundoverlay"></div>
            <div class="background"></div>
            <span class="title">
                <p>Conditions</p>
            </span>
            <div class="flexbox">
                <div class="pic"></div>
                <span class="text">
                    <p style="color: #f12525; font-weight: 400;">• No explicit NSFW</p>
                    <p>• Payment through Paypal only (in euro)</p>
                    <p>• I start the commission only after the payment</p>
                    <p>• I can refund until I start to work on your artwork</p>
                    <p>• I can take several days to achieve your render for multiple reasons, but you'll be warned
                        if it happens</p>
                    <p>• Your artwork will be public but you can be cited as anonymous if you wish</p>
                    <p>• <a href="https://discordapp.com/users/223445389930528769" target="_blank">Discord</a> or <a
                            href="https://twitter.com/_Flotib" target="_blank">Twitter</a> to chat with me</p>
                </span>
            </div>
        </section>

        <hr class="sectionDivider">

        <div style="height: 1500px"></div>

    </div>

    <script src="../scripts/script.js"></script>
</body>

</html>
