<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flotib's Artwork</title>
    <link rel="icon" href="../img/pageicon.png" />
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <div id="navbar">
            <div id="navBackground"></div>
            <a href="../index.html" id="logo">Flotib</a>
            <div id="navbar-right">
                <a href="../index.html">Home</a>
                <a href="../commission/index.html">Commission</a>
            </div>
        </div>
        <div id="mobilenav">
            <div id="navmenubutton" @click="navOpen=!navOpen" :class="navOpen ? 'menuactived' : 'menudisabled'">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div v-if="navOpen" id="closemenuarea" @click="navOpen=false"></div>
            <transition name="fade">
                <div id="navbar-right-mobile" v-if="navOpen">
                    <a href="../index.html">Home</a>
                    <a href="../commission/index.html">Commission</a>
                </div>
            </transition>
        </div>

        <transition name="fadeImage" enter-active-class="showImage">
            <div class="bigImageOverlay" v-if="selectedImage!=null">
                <div class="bigImageOverlay-bg" @click="selectedImage=null"></div>
                <div v-if="selectedImage.album!=null" class="imageSlidesSelector">
                    <a @click="scrollToId('img0')"
                        :style="'background-image: url(../img/artwork/preview/'+selectedImage.name+'.jpg)'">1</a>
                    <a v-for="(subimage,artwork) in selectedImage.album"
                        :style="'background-image: url(../img/artwork/preview/'+subimage.name+'.jpg)'"
                        @click="scrollToId('img'+(artwork+1))">{{artwork+2}}</a>
                </div>
                <div v-if="selectedImage.album==null" class="bigImageFrame" @click="selectedImage=null">
                    <img :src="'../img/artwork/'+selectedImage.name+'.jpg'">
                </div>
                <div v-else class="bigImageSlides" @click="selectedImage=null">
                    <div>
                        <img :src="'../img/artwork/'+selectedImage.name+'.jpg'" id="img0">
                    </div>
                    <div v-for="(subimage,artwork) in selectedImage.album">
                        <img :src="'../img/artwork/'+subimage.name+'.jpg'" :id="'img'+(artwork+1)">
                    </div>
                    <div style="margin-left: -50%; visibility: hidden;"></div>
                </div>
            </div>
        </transition>

        <header>
            <div class="headerblocksmol">
                <div id="headerbackground" style="background-image: url('../img/header/header-bg-artwork.jpg');"></div>
                <span class="headertext" style="text-shadow: 0px 0px 6px #000, 0px 0px 12px #00000080;">
                    <p>Artwork</p>
                </span>
            </div>
        </header>

        <hr class="headerDivider">

        <div class="artworkTopText">
            <transition name="textslide">
                <span v-if="showCopyright">
                    <div class="flexbox">
                        <p>
                            You can download and use any of the following images for personal purpose only, however if
                            they are used publicly you must credit me somewhere. Be careful with the commissions. These
                            are indicated with the following icon on their previews.
                        </p>
                        <div class="fakeCommissionImage">
                            <div class="commissionIndicator"></div>
                        </div>
                        <p>
                            If the image you want to use is a commission, first ask permission from the person to whom
                            the character belongs. If they agree to you using the render they paid for, you'll need to
                            credit that person as well as me.
                        </p>
                    </div>
                </span>
            </transition>
            <button class="buttonwowlike" @click="showCopyright=!showCopyright">Copyright</button>
        </div>

        <div class="gallery">
            <div v-for="(image,artwork) in galleryImage" :key="artwork" class="imageFrame" @click="selectedImage=image">
                <div class="imageFrame-bg"
                    v-bind:style="imageOrientation(image.name) ? 'background-position: center center;' : 'background-position: center 25%;'"
                    :style="'background-image: url(../img/artwork/preview/'+image.name+'.jpg)'"></div>
                <div v-if="image.commission" class="commissionIndicator"></div>
                <div v-if="image.album!=null" class="albumNumberIndicator">{{image.album.length+1}}</div>
                <span class="artworkName">{{image.realname}}</span>
            </div>
        </div>

        <div class="commissionredirection">
            <p>Dolor sit amet, consectetur adipiscing elit. Nullam quis est quam. Morbi at pharetra ante, sed
                posuere quam. Nunc lacinia convallis felis nec dapibus. Cras suscipit massa eget aliquet semper.</p>
        </div>

    </div>

    <footer>

    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>
