<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flotib's Artwork</title>
    <link rel="icon" href="../img/pageicon.png" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <div id="navbar">
            <div id="navBackground"></div>
            <a href="../index.html" id="logo">Flotib</a>
            <div id="navbar-right">
                <a href="../index.html">Home</a>
                <a href="../commission/index.html">Commission</a>
            </div>
        </div>
        <div id="mobilenav">
            <input type="checkbox" id="navbutton">
            <div id="navmenubutton">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="navbar-right-mobile">
                <a href="../index.html">Home</a>
                <a href="../commission/index.html">Commission</a>
            </div>
        </div>

        <transition name="fadeImage" enter-active-class="showImage">
            <div class="bigImageOverlay" v-if="selectedImage!=null" @click="selectedImage=null">
                <div class="bigImageOverlay-bg"></div>
                <div class="bigImageFrame">
                    <img :src="'../img/artwork/'+selectedImage+'.jpg'">
                </div>
            </div>
        </transition>

        <header>
            <div class="headerblocksmol">
                <div id="headerbackground" style="background-image: url('../img/header/header-bg-artwork.jpg');"></div>
                <span class="headertext" style="text-shadow: 0px 0px 6px #000, 0px 0px 12px #00000080;">
                    <p>Artwork</p>
                </span>
            </div>
        </header>

        <hr class="headerDivider">

        <p style="font-size: 22px; color: #f03636; margin-top: 100px; text-align: center;">*todo:Warn about rights*</p>

        <div class="gallery">
            <div v-for="(image,artwork) in galleryImage" :key="artwork" class="imageFrame"
                @click="selectedImage=image.name">
                <div class="imageFrame-bg"
                    v-bind:style="imageOrientation(image.name) ? 'background-position: center center;' : 'background-position: center 25%;'"
                    :style="'background-image: url(../img/artwork/preview/'+image.name+'.jpg)'"></div>
                <div v-if="image.commission" class="commissionIndicator"></div>
                <span class="artworkName">{{image.realname}}</span>
            </div>
        </div>

        <div class="commissionredirection">
            <p>Dolor sit amet, consectetur adipiscing elit. Nullam quis est quam. Morbi at pharetra ante, sed
                posuere quam. Nunc lacinia convallis felis nec dapibus. Cras suscipit massa eget aliquet semper.</p>
        </div>

    </div>

    <script src="../scripts/script.js"></script>
</body>

</html>